.WebsiteHeader {
  text-align: left;
  background-color: #282c34;
  height: 260 px;
  font-size: 12 px;
  color: #ff0000;
  p {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
